<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content" style="margin-top: 5em;">
      <div class="container-fluid">
        <div class="card card-primary card-outline">
          <div class="card-header"
               style="display: flex; justify-content: center;">
            <h3 class="card-title">Principal</h3>
          </div> <!-- /.card-body -->
          <div class="card-body">
            
  
  
            <h2>Bienvenido {{usuario.nombre}}</h2>
  
  
  
  
          </div><!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  
  </div>
  <!-- /.content-wrapper -->